<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Social Network</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--build:css styles.min.css-->

  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/Materialize/bin/materialize.css">
  <!-- endinject -->

  <!-- inject:css -->
  <link rel="stylesheet" href="./style.css">
  <!-- endinject -->

  <!--endbuild-->
</head>
<body ng-app="gpApp">
  <div class="wrapper">
    <nav>
      <div class="nav-wrapper blue darken-3 z-depth-1">
        <a href="http://www.pizza.by/" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>      
      </div>
    </nav>
    <div ng-controller="profileController as profile">
      <div class="avatar">
        <img ng-src="{{profile.user.avatar}}" alt="best_avatar" class="z-depth-2">
      </div> <br>
      <span class="center-align">Hi, {{profile.user.firstName + ' ' + profile.user.lastName}}</span>
      <form name="profile.editForm" class="">
        <ul class="collapsible">
          <li>
            <div class="collapsible-header">Age: {{profile.user.age}}</div>
            <div class="sub collapsible-body">
              <input name="age" id="age-person" type="text" class="validate" ng-model="profile.user.age" pattern="[0-9]*"
                   >
            </div>
         </li>     

         <li>
           <div class="collapsible-header">Gender: {{profile.user.gender}}</div>
           <div class="sub collapsible-body">              
             <p>
               <input class="with-gap" name="group1" type="radio" id="radio1" ng-model="profile.user.gender" value="M"/>
               <label for="radio1">Male</label>
             </p>
             <p>
               <input class="with-gap" name="group2" type="radio" id="radio2" ng-model="profile.user.gender" value="F"/>
               <label for="radio2">Female</label>
             </p>
           </div>
         </li>          
       </ul>
       <div class="btn-submit">
         <button class="btn waves-effect waves-light blue darken-2 z-depth-3" ng-click="profile.updateUser()"
                 ng-disabled="profile.editForm.$pristine || profile.editForm.$invalid">Save</button>
         <span class="tooltip-save" ng-class="{open: profile.processingAnimate}">Saved !</span>
       </div>
     </form>
   </div>
 </div>

 <!--build:js main.min.js -->
 <!-- bower:js -->
 <script src="../bower_components/angular/angular.js"></script>
 <script src="../bower_components/jquery/dist/jquery.js"></script>
 <script src="../bower_components/underscore/underscore.js"></script>
 <script src="../bower_components/Materialize/bin/materialize.js"></script>
 <!-- endinject -->

 <!-- inject:js -->
 <script src="./app.module.js"></script>
 <script src="./app.service.js"></script>
 <script src="./app.controller.js"></script>
 <script src="./main.js"></script>
 <!-- endinject -->

 <!-- endbuild -->
</body>
</html>