<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Social Network</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--build:css styles.min.css-->

  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/Materialize/bin/materialize.css">
  <!-- endinject -->

  <!-- inject:css -->
  <link rel="stylesheet" href="./style.css">
  <!-- endinject -->

  <!--endbuild-->
</head>
<body ng-app="gpApp">
  <div class="wrapper ">
    <nav>
      <div class="nav-wrapper  blue darken-3 z-depth-1">
        <a href="http://www.pizza.by/" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>      
      </div>
    </nav>
    <div ng-controller="socialController">
      <div class="avatar">
        <img src="avatar.jpg" alt="best_avatar" class="z-depth-2">
      </div> <br>
      <span class="center-align">Hi, {{selectedUser.name}}</span>
      <form class="" action="#">
        <ul class="collapsible">
          <li>
            <div class="collapsible-header">Age:</div>
            <div class="sub collapsible-body">
             <input  id="age-person" type="text" class="validate" ng-model="selectedUser.age" value="{{selectedUser.age}}">
           </div> 
         </li>     

         <li>
           <div class="collapsible-header">Gender:</div>
           <div class="sub collapsible-body">              
             <p>
               <input class="with-gap" name="group1" type="radio" id="radio1" ng-model="selectedUser.gender" value="Male" ng-checked="true" />
               <label for="radio1">Male</label>
             </p>
             <p>
               <input class="with-gap" name="group1" type="radio" id="radio2" ng-model="selectedUser.gender" value="Female"  />
               <label for="radio2">Female</label>
             </p>
           </div>
         </li>          
       </ul>
       <div class="btn-submit">
         <button class="btn waves-effect waves-light blue darken-2 z-depth-3" type="submit" name="action" onclick="updateUser()" >Save</button>
         <span class="tooltip-save" ng-class="" >Saved !</span>
       </div>
     </form>
   </div>
 </div>

 <!--build:js main.min.js -->
 <!-- bower:js -->
 <script src="../bower_components/angular/angular.js"></script>
 <script src="../bower_components/jquery/dist/jquery.js"></script>
 <script src="../bower_components/underscore/underscore.js"></script>
 <script src="../bower_components/Materialize/bin/materialize.js"></script>
 <!-- endinject -->

 <!-- inject:js -->
 <script src="./app.module.js"></script>
 <script src="./app.service.js"></script>
 <script src="./app.controller.js"></script>

 <!-- endinject -->

 <!-- endbuild -->
</body>
</html>