body{
	font-size: 20px;
}
.wrapper{
	max-width: 320px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
nav .button-collapse i {
	font-size: 3.7rem;

}
.avatar img{
	width: 160px;
	border-radius: 50%;
}
.avatar{
	margin-top: 10px;
}
input[type=text]{
	line-height: 2.5rem;
	width: 90%;
	font-size: 20px;
	text-align: center;
}
form{
	width: 90%;
	margin:0 auto;
}
.collapsible-body p {
	padding: 1rem;
}
.tooltip-save{
	position: absolute;
	top: 25%;
	left: 40%;
	opacity: 0;
	color: #1976D2;
	transition: all 0.5s ease;
}
.tooltip-save.open{
	opacity: 1;
	top:-20%;
}
.btn-submit{
	position: relative;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label{
	font-size: 18px;
}
form button{
	margin-top:20px;
}
nav a.button-collapse{
	display: block;
}
nav a.button-collapse i {
	height: 64px;
	line-height: 64px;
	background-image: url("./hambuger-menu.png");
}
.side-nav li {
	text-align: left;
	border-bottom: 1px solid #E6E6E6;
}
.side-nav a {
	position: relative;
	font-size: 20px;
}
.side-nav a .menu-icon{
	display: inline-block;
	position: absolute;
	top: 4px;
	right: 30px;
}
nav ul a:hover, nav ul li.active {
	background-color: rgba(30,136,229,.6);
	color: white;
}
.side-nav li.active, .side-nav li:hover {
	background-color: rgba(30,136,229,.6); 
}
.login-message{
	margin-top: 50px;
	font-size: 25px;
}
.login-btn{
	margin-top: 120px;
}
nav .side-nav li:first-child{
	line-height: 0;
	padding-bottom: 10px;	
	padding-top: 10px;
}
nav .side-nav li:first-child:hover{
	background-color:rgba(30,136,229,1);
}

.side-nav img{
	width: 70px;
	border-radius: 50%;
	margin-left: 10px;
}
.side-nav li:first-child span{
	color: black;
	position: absolute;
	top: 30px;
	left: 133px;
}
.side-nav li:hover:first-child span{
	color:white;
}
.side-nav li:first-child span:last-child{
	top: 60px;
	left: 122px;
}